.wrapper {
    width: 100%;
    overflow: hidden;
    background: $base-background-color;
}

.container {
    @extend %clearfix;
    max-width: $max-width-center-container;
    padding: $padding-container;
    margin: 0 auto;
    &:before,
    &:after {
        display: none;
    }
}

#main {
    @include media('>=desktop') {
        min-height: calc(100vh - 288px);
    }
}

.not-found-page {
    min-height: calc(100vh - 576px);
    display: flex;
    .container {
        display: flex;
        align-items: center;
    }
}

.caption-section {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    @include media('>=desktop') {
        padding: 50px 0;
        margin-bottom: 50px;
    }
    h1 {
        text-transform: uppercase;
        color: $dark-blue-200;
        @include media('>=desktop') {
            font-size: 48px;
        }
    }
    p {
        font-style: italic;
        font-size: 18px;
        @include media('>=desktop') {
            font-size: 24px;
        }
    }
    .image-holder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: $gray-400;
    li {
        margin: 0 9px;
    }
    a {
        color: inherit;
        @include animate(color);
        &:hover {
            color: $primary;
        }
    }
}

.btn {
    @include animate(background-color color);
    display: inline-block;
    background-color: $white;
    font-weight: $bold;
    font-family: $base-font-serif;
    text-transform: uppercase;
    color: $primary;
    border: 1px solid $gray-200;
    line-height: 1;
    padding: 5px 10px;
    font-size: 12px;
    @include media(">=desktop") {
        padding: 20px 14px;
        font-size: 16px;
    }
    &:hover {
        background-color: $dark-blue;
        color: $orange;
    }
}

.btn-back {
    display: block;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    @include animate(color);
    @include media(">=tablet") {
        margin-bottom: 10px;
    }
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}